# Remove the previous line if you edit this file

# Export all names
exportPattern(".")
  importFrom("graphics", "boxplot", "lines", "par", "plot", "title")
  importFrom("stats", "density", "dgamma", "dnorm", "fft", "mad",
             "qqline", "qqnorm", "rnorm", "rt", "shapiro.test", "var")

S3method(plot, wvd)
S3method(summary, wvd)
