.blue-red {
background:
	-webkit-linear-gradient(45deg, hsl(8, 98%, 65%) 0%, transparent 70%),
	-webkit-linear-gradient(135deg, hsl(154, 93%, 69%) 10%, transparent 80%),
	-webkit-linear-gradient(225deg, hsl(260, 97%, 67%) 10%, transparent 80%),
	-webkit-linear-gradient(315deg, hsl(197, 97%, 75%) 50%, transparent 100%);
background:
	-ms-linear-gradient(45deg, hsl(8, 98%, 65%) 0%, transparent 70%),
	-ms-linear-gradient(135deg, hsl(154, 93%, 69%) 10%, transparent 80%),
	-ms-linear-gradient(225deg, hsl(260, 97%, 67%) 10%, transparent 80%),
	-ms-linear-gradient(315deg, hsl(197, 97%, 75%) 50%, transparent 100%);
background:
	linear-gradient(45deg, hsl(8, 98%, 65%) 0%, transparent 70%),
	linear-gradient(135deg, hsl(154, 93%, 69%) 10%, transparent 80%),
	linear-gradient(225deg, hsl(260, 97%, 67%) 10%, transparent 80%),
	linear-gradient(315deg, hsl(197, 97%, 75%) 50%, transparent 100%);
}

.green-yellow {
background:
	-webkit-linear-gradient(45deg, hsl(69, 100%, 71%) 0%, transparent 70%),
	-webkit-linear-gradient(135deg, hsl(347, 92%, 75%) 10%, transparent 80%),
	-webkit-linear-gradient(225deg, hsl(89, 98%, 67%) 10%, transparent 80%),
	-webkit-linear-gradient(315deg, hsl(239, 91%, 68%) 50%, transparent 100%);
background:
	-ms-linear-gradient(45deg, hsl(69, 100%, 71%) 0%, transparent 70%),
	-ms-linear-gradient(135deg, hsl(347, 92%, 75%) 10%, transparent 80%),
	-ms-linear-gradient(225deg, hsl(89, 98%, 67%) 10%, transparent 80%),
	-ms-linear-gradient(315deg, hsl(239, 91%, 68%) 50%, transparent 100%);
background:
	linear-gradient(45deg, hsl(69, 100%, 71%) 0%, transparent 70%),
	linear-gradient(135deg, hsl(347, 92%, 75%) 10%, transparent 80%),
	linear-gradient(225deg, hsl(89, 98%, 67%) 10%, transparent 80%),
	linear-gradient(315deg, hsl(239, 91%, 68%) 50%, transparent 100%);
}

.default {
  background:
  -webkit-linear-gradient(45deg, hsl(0, 68%, 29%) 0%, transparent 70%), 
  -webkit-linear-gradient(135deg, hsl(168, 45%, 48%) 10%, transparent 80%), 
  -webkit-linear-gradient(225deg, hsl(254, 46%, 70%) 10%, transparent 80%), 
  -webkit-linear-gradient(315deg, hsl(107, 47%, 17%) 50%, transparent 100%); 
  background: 
  -ms-linear-gradient(45deg, hsl(0, 68%, 29%) 0%, transparent 70%), 
  -ms-linear-gradient(135deg, hsl(168, 45%, 48%) 10%, transparent 80%), 
  -ms-linear-gradient(225deg, hsl(254, 46%, 70%) 10%, transparent 80%), 
  -ms-linear-gradient(315deg, hsl(107, 47%, 17%) 50%, transparent 100%); 
  background: 
  linear-gradient(45deg, hsl(0, 68%, 29%) 0%, transparent 70%), 
  linear-gradient(135deg, hsl(168, 45%, 48%) 10%, transparent 80%), 
  linear-gradient(225deg, hsl(254, 46%, 70%) 10%, transparent 80%), 
  linear-gradient(315deg, hsl(107, 47%, 17%) 50%, transparent 100%);
}
blue-blue {
background:
	-webkit-linear-gradient(45deg, hsl(225, 37%, 21%) 0%, transparent 70%),
	-webkit-linear-gradient(135deg, hsl(136, 23%, 53%) 10%, transparent 80%),
	-webkit-linear-gradient(225deg, hsl(197, 48%, 23%) 10%, transparent 80%),
	-webkit-linear-gradient(315deg, hsl(0, 18%, 19%) 50%, transparent 100%);
background:
	-ms-linear-gradient(45deg, hsl(225, 37%, 21%) 0%, transparent 70%),
	-ms-linear-gradient(135deg, hsl(136, 23%, 53%) 10%, transparent 80%),
	-ms-linear-gradient(225deg, hsl(197, 48%, 23%) 10%, transparent 80%),
	-ms-linear-gradient(315deg, hsl(0, 18%, 19%) 50%, transparent 100%);
background:
	linear-gradient(45deg, hsl(225, 37%, 21%) 0%, transparent 70%),
	linear-gradient(135deg, hsl(136, 23%, 53%) 10%, transparent 80%),
	linear-gradient(225deg, hsl(197, 48%, 23%) 10%, transparent 80%),
	linear-gradient(315deg, hsl(0, 18%, 19%) 50%, transparent 100%);
}