#play {  opacity: 0.0 ; 
	position: absolute ; 
	    left: 5.5% ; 
	  bottom: 80%; 
     margin-left: auto;
    margin-right: auto ;
-webkit-transition: all 500ms ease-in-out  ;  
 -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
   -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;                                            }

#play:hover {  opacity: 1.0; } 

#foot { display: block; 
	width: 300px; 
	height: 30px; 
	opacity: 1; 
	left: 10% !important; 
	bottom: 2.15%; 
	position: absolute !important; 
	font-size: 60%; 
	text-align: left !important;
	z-index: 5;}     

#fillpic { -moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
} 

h2 { font-size: 35px;
     line-height: 65px;}

.MathJax {
font-size: 1em;
}
