body { font-family: sans-serif;}

table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%; }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }

code.sourceCode.r {
  font-weight:bold; 
  font-size: 1.25em; 
  background-color: #ECF1EF !important;
  color: black !important;
}
code > span.kw { color: #007020; font-weight: bold; } /* Keyword */
code > span.dt { color: darkorange; font-weight: bold; } /* DataType */
code > span.dv { color: darkred; } /* DecVal */
code > span.bn { color: #40a070; } /* BaseN */
code > span.fl { color: darkred; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: darkblue; } /* String */
code > span.co { color: red; font-style: italic; } /* Comment */
code > span.ot { color: darkred; } /* Other */
code > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > span.fu { color: #06287e; } /* Function */
code > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > span.cn { color: #880000; } /* Constant */
code > span.sc { color: #4070a0; } /* SpecialChar */
code > span.vs { color: #4070a0; } /* VerbatimString */
code > span.ss { color: #bb6688; } /* SpecialString */
code > span.im { } /* Import */
code > span.va { color: #19177c; } /* Variable */
code > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > span.op { color: #666666; } /* Operator */
code > span.bu { } /* BuiltIn */
code > span.ex { } /* Extension */
code > span.pp { color: #bc7a00; } /* Preprocessor */
code > span.at { color: #7d9029; } /* Attribute */
code > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */

a {font-size: 16pt; font-weight: bold;}

#TOC {	
    padding-top: 0;
    left: 1%;
    max-width: 350px;
    border: solid 1pt ;
}

.tocify {
  border-radius: 8px;
}

p, ol {
  font-size: 16pt; 
  font-weight: 600; 
  line-height: 1.25; 
  padding-bottom: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h2 {
margin-top: 20px;
margin-bottom: 20px;
padding: 20px 0;
border: 0;
border-top: 1.5px solid #4582ec;
border-bottom: 1.5px solid #4582ec;
}

blockquote p {
 font-weight: normal;
 font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

blockquote {
  background: #fff;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 5px solid #4582ec !important;
}

small    { font-size: 90% }
smaller  { font-size: 80% }
smallest { font-size: 70% }

big     { font-size: 110% }
bigger  { font-size: 120% }
biggest { font-size: 130% }

table {
  width: 90% !important;
  border-collapse: -moz-initial;
  border-collapse: collapse;
  border-spacing: 2px;
  border-bottom: 1px solid #797979;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 40px; 
  margin-bottom: 40px;
  font-size: 16pt;
}

/* line 479, scss/default.scss */
table tr > td:first-child, table th {
  font-weight: bold;
}
/* line 484, scss/default.scss */
table tr:nth-child(odd) {
  background-color: #e6e6e6;
}
/* line 488, scss/default.scss */
table th {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #4387fd), color-stop(80%, #2a7cdf)) no-repeat;
  background: -webkit-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  background: -moz-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  background: -o-linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  background: linear-gradient(top, #4387fd 40%, #2a7cdf 80%) no-repeat;
  color: #FFF;
  padding: 0.25em 0.25em;
  font-weight: bold;
}
/* line 494, scss/default.scss */
table td {
  font-weight: bold;
  padding: 0.25em 0.25em;
}
/* line 499, scss/default.scss */
table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}
/* line 504, scss/default.scss */
table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
}

.example {
  border-style: solid;
  border-width: 0 15px 1px 15px;
  border-color: #2C3E50;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-bottom: 30px;
  padding-bottom:30px;
}

table.example {
  width: 90%;
}

caption {
padding-top: 8px;
font-weight: 600;
line-height: 1.25;
padding-bottom: 20px;
color: #333333;
text-align: left;
font-size: 14pt;
}

p.caption {
font-size: 14pt;
font-weight: 600;
line-height: 1.25;
padding-bottom: 20px;
}

red    {  color: red;     font-weight: bold; }
blue   {  color: blue;    font-weight: bold; }
green  {  color: green;   font-weight: bold; }
purple {  color: purple;  font-weight: bold; }
orange {  color: orange;  font-weight: bold; }
brown  {  color: brown;   font-weight: bold; }
pink   {  color: pink;    font-weight: bold; }
gray   {  color: gray;    font-weight: bold; }
black  {  color: black;   font-weight: bold; }


focus  {  background-color: #F39C12; 
          border-color: orange;
          border-radius: 10px;
          padding: 4px 8px 5px 8px;
          white-space: nowrap;
}

.main-container {
  max-width: 1000px !important;
}

code {
  font-size: .9em;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: black !important;
  font-weight: bold;
  background-color: #e6e6e6 !important;
  padding: .1em .3em .1em .3em;
  border-radius: .3em;
  white-space: nowrap;
  vertical-align: 10%;
}

pre {
 background-color: #ECF1EF ;
 border-top-right-radius: 10px;
 border-top-left-radius: 10px;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 10px;
 
}

pre code {
  font-size: 16pt;
  font-weight: 550;
  line-height: 120%;
  background-color: #fff !important;
}

.col-md-3
{
  width: 10% !important;
}

.col-md-9
{
  width: 90% !important;
}

.tocify-extend-page {
  height: 100px !important;
}
